/* 공통 스타일 */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 모든 페이지에 적용되는 스타일 */
.main-content {
  margin: 20px;
  overflow-x: auto; /* 가로 스크롤 활성화 */
}

/* PC 화면 스타일 */
@media (min-width: 768px) {
  /* 특별한 스타일 없음, 기본 스타일을 사용 */
}

/* 스마트폰 화면 스타일 */
@media (max-width: 767px) {
  /* 모든 페이지에 적용되는 스마트폰 스타일 */
  .main-content {
    padding: 10px;
  }

  /* index.html 스타일 */
  .search {
    width: 100%;
    text-align: center;
  }
}

/* add.html 스타일 */
form {
  max-width: 100%;
}

/* view.html 스타일 */
ul {
  list-style-type: none;
  padding: 0;
}

.box {
  margin: 20px;
}

/* edit.html 스타일 */
h2 {
  margin: 20px;
}
